.savedNote {
   display: block;
   position: relative;
   /* min-height: 100px; */
   width: 100%;
   background-color: var(--bgrColorNote);
   font-family: var(--badScript);
   border: 2px var(--borderColorGr) solid;
   border-left: none;
   border-radius: 0 8px 8px 8px;
   /* cursor: pointer; */
}

.statusSavedNote:hover::after {
   content: "удалить";
   padding: 7px;
   position: relative;
   color: black;
   font-family: var(--mainFont);
   background-color: var(--bgrColorNote);
   top: 15px;
   border: 1px solid var(--borderColorGr);
   z-index: 25;
   opacity: 0;
   animation: 1s dispOn 0.5s linear forwards;
   font-size: 11px;
   font-weight: 200;
   transition: 1s linear;
}

@keyframes dispOn {
   0% {
      opacity: 1;
   }

   100% {
      opacity: 1;
   }
}


.statusSavedNote,
.fixedSavedNote {
   display: inline-block;
   font-family: var(--icons);
   font-weight: 700;
   padding-top: 3px;
   color: var(--borderColorGr);
   margin-left: 6px;
   cursor: pointer;
}

.fixedSavedNote {
   transform: scaleX(-1);
}

.settingSavedNote {
   display: flex;
   position: relative;
   height: 24px;
   max-width: 450px;
   width: auto;
   vertical-align: middle;
   gap: 15px;
   left: 350px;
   top: -24px;
   flex-direction: row;
   /* justify-content: center; */
   align-items: center;
   font-family: var(--mainFont);
   font-size: 13px;
   /* border: 1px solid var(--borderColorGr); */
   padding: 5px;
}

.titleSavedNote {
   position: relative;
   top: -16px;
   padding: 0 0 0 10px;
   font-weight: 700;
   font-size: 16px;
}

.textSavedNote {
   width: calc(100% - 10px);
   /* height: auto; */
   position: relative;
   top: -11px;
   padding: 0 0 0 10px;
   font-size: 14px;
   letter-spacing: 0.5px;
}

.dateSavedNote {
   display: flex;
   gap: 5px;
   width: auto;
   position: relative;
}

.daySavedNote,
.yearSavedNote {
   /* font-size: 18px; */
}

.daySavedNote {}

.monthSavedNote {}

.yearSavedNote {}

.timeSavedNote {}

.hSavedNote {}

.hSavedNote::after {
   position: relative;
   bottom: 1px;
   /* content: ":"; */
   margin-left: 3px;
   vertical-align: top;
}

.mSavedNote {}

.locationSavedNote::before {
   content: "\e638";
   font-family: var(--icons);
}

.locationSavedNote::after {
   /* content: "dfd"; */
}

.dataCreatedSavedNote {
   display: inline-block;
   position: relative;
   min-width: 14%;
   width: auto;
   text-align: center;
   left: 0px;
   top: -2px;
   background-color: #e78181;
   padding: 5px 10px;
   font-family: var(--mainFont);
   font-size: 11px;
   /* font-weight: 600; */
}