#header {
   display: flex;
   height: 30px;
   /* width: 100%; */
   background-color: var(--ligthGreenColor);
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   gap: 200px;
   user-select: none;
   justify-content: space-between;
}

h1 {
   font-family: var(--mainFont);
   font-size: 20px;
   color: var(--whiteColor);
   display: inline-block;
   -webkit-app-region: drag;
   padding: 0 0 0 25px;
}

#searchBlock {
   display: flex;
   flex-direction: row;
   justify-content: center;
   /* gap: 5px; */
   width: 420px;
   margin-top: 4px;
   background-color: var(--whiteColor);
   padding-top: 4px;
   border-radius: 25px 0 0 25px;
}

#inpSearchTxt::placeholder {
   padding: 0 0 12px 2px;
   color: lightgray;
}

#inpSearchTxt {
   display: inline-block;
   height: 28px;
   width: 340px;
   font-size: 12px;
   font-family: var(--mainFont);
   padding-bottom: 2px;
}

#btnSearch,
#btnFilter {
   font-family: "Pe-icon";
   font-size: 24px;
   background-color: var(--whiteColor);
   /* border: 1px solid grey; */
}

#search {
   font-family: var(--mainFont);
   font-size: 12px;
   opacity: 0.7;
   font-weight: 700;
}

#audio {
   font-family: var(--icons);
   /* text-decoration: line-through; */
}

#systemBtn {
   font-family: var(--icons);
   display: flex;
   font-size: 20px;
   vertical-align: middle;
   gap: 3px;
   position: relative;
   top: -1px;
   margin-right: 3px;
   font-weight: 700;
}

#systemBtn>* {
   border: 1px transparent solid;
   padding: 1px;
}

#transfer {
   color: green;
   -webkit-app-region: drag;
}

#transfer:hover {
   content: "двигать окно";
   padding: 7px;
   position: absolute;
   font-family: var(--mainFont);
   background-color: var(--bgrColorNote);
   border: 1px solid var(--borderColorGr);
   z-index: 25;
   font-size: 11px;
}

#collapse:hover {
   /* border: 1px green solid; */
   opacity: 0.5;
}

#collapse {
   color: green;
}

#fullSize:hover {
   /* border: 1px green solid; */
   opacity: 0.5;
}

#fullSize {
   color: black;
}

#closeWin:hover {
   /* border: 1px green solid; */
   opacity: 0.5;
}

#closeWin {
   color: red;
}